apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-exkq
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-bundle-tenant/appstudio/dc-metro-map-exkq@sha256:62d53af17a293f0f9be7df9883890b8c0bdc051c65bfa357ac77ca1491071cee
        name: my-nodejs
        resources: {}
status: {}
